nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 120px;
  width: 100%;
  color: #ffffff;
  background-color: #4056a1;
  padding: 0 1.5em 0 1.5em;
  z-index: 2;
  position: sticky;
  top: 0;
}

.name {
  font-family: "Bungee", sans-serif;
}

.new-tweet-link {
  display: flex;
  flex-direction: column;
}

.double-angle-down {
  display: flex;
  justify-content: center;
  color: #f80404;
  animation: arrowFloat 2s infinite; 
}



@keyframes arrowFloat {
  50% {transform: translateY(10px) }
  100% {transform: translateY((-5px))}
  }

/*Tablet size*/
@media only screen and (max-width: 1000px) {
  nav {
    background-color: #848be9;
    background-image: url(http://www.transparenttextures.com/patterns/dark-brick-wall.png);
  }
}
