nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 120px;
  color: #ffffff;
  background-color: #848be9;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  padding: 0 1.5em 0 1.5em;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.name {
  font-family: "Bungee", sans-serif;
}

.new-tweet-link {
  display: flex;
  flex-direction: column;
}

.double-angle-down {
  display: flex;
  justify-content: center;
  color: #f80404;
  animation: arrowFloat 2s infinite;
}

@keyframes arrowFloat {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY((-5px));
  }
}

/*Desktop size*/
@media only screen and (min-width: 1024px) {
  nav {
    background: none;
    background-color: #4056a1;
  }
}
