nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 0 1.5em 0 1.5em;
  z-index: 2;
  position: sticky;
  top: 0;
}

.name {
  font-family:'Bungee', sans-serif;
}

.new-tweet-link {
  display: flex;
  flex-direction: column;
}

.double-angle-down {
  display:flex;
  justify-content: center;
  color: #f80404;
}