.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tweet-text {
  background: none;
  border-style: inset;
  border-width: 0 0 2px 0;
  width: 100%;
  padding: 1rem;
}

#tweet-option {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}
button {
  background-color: #4056a1;
  border: none;
  color: white;
}

.negCharCount {
  color: rgb(189, 5, 5);
}

#error-message {
  color: rgb(189, 5, 5);
  background: none;
  border-style: solid;
  border-width: 2px;
  width: 100%;
  text-align: center;
  margin: 5px;
}
